{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Top Navigation Bar -->
<nav class="top-nav">
    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-img">
        </a>
    </div>
    <div class="nav-right">
        <div class="search-bar">
            <form action="{% url 'restaurant_search' %}" method="GET">
                <input type="text" name="search_query" placeholder="Search for restaurants...">
                <button type="submit" class="btn btn-search">Search</button>
            </form>
        </div>
        <div class="nav-icons">
            <a href="{% url 'map_view' %}" class="map"><i class="fas fa-map-marker-alt"></i></a>
            <a href="{% url 'favorites' %}" class="favorites"><i class="fas fa-heart"></i></a>
            <a href="{% url 'profile' %}" class="profile"><i class="fas fa-user"></i></a>
            <a href="{% url 'logout' %}" class="btn btn-primary custom-logout-btn">Logout</a>
        </div>
    </div>
</nav>


<div class="content-wrapper-fav">
    <!-- Favorites Title -->
    <div class="favorites-title">
        <h1>Favorites</h1>
    </div>

    <!-- Favorites List -->
    <div class="favorites-container">
        {% if favorites %}
            <div class="restaurant-cards-fav">
                {% for favorite in favorites %}
                <div class="restaurant-card-fav">
                    <img src="{{ favorite.image_url }}" alt="{{ favorite.name }}" class="restaurant-image">
                    <div class="restaurant-info-fav">
                        <h3>{{ favorite.name }}</h3>
                        <p>Rating: {{ favorite.rating }}</p>
                        <p>{{ favorite.address }}</p>
                        <p>Added on: {{ favorite.added_on }}</p>
                        <button class="favorite-btn" onclick="toggleFavorite(event, '{{ favorite.place_id }}', '{{ favorite.name }}')">
                            <i class="fas fa-heart"></i>
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-favorites">You have not added any favorites yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}